<div class="container">
    <button type="submit" value="Se deconnecter" (click)="logout()">Se deconnecter</button>
    <h1>Display Page</h1>
    <h2>Ajouter un email</h2>
    <form [formGroup]="addEmailForm" (ngSubmit)="addEmail(addEmailForm)">
        <div class="form-group" [ngClass]="{'has-error':!addEmailForm.controls['firstname'].valid && addEmailForm.controls['firstname'].touched}">
            <label for="firstname">Prénom : </label>
            <input class="form-control" type="text" placeholder="Entrez votre prénom" [formControl]="addEmailForm.controls['firstname']">
            <div *ngIf="addEmailForm.controls['firstname'].hasError('required') && addEmailForm.controls['firstname'].touched" class="alert alert-danger">
                You must add a firstname.
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!addEmailForm.controls['name'].valid && addEmailForm.controls['name'].touched}">
            <label for="name">Nom : </label>
            <input class="form-control" type="text" placeholder="Entrez votre nom" [formControl]="addEmailForm.controls['name']">
            <div *ngIf="addEmailForm.controls['name'].hasError('required') && addEmailForm.controls['name'].touched" class="alert alert-danger">
                You must add a name.
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!addEmailForm.controls['domain'].valid && addEmailForm.controls['domain'].touched}">
            <label for="domain">Domaine : </label>
            <input class="form-control" type="text" placeholder="Entrez votre domaine" [formControl]="addEmailForm.controls['domain']">
            <div *ngIf="addEmailForm.controls['domain'].hasError('required') && addEmailForm.controls['domain'].touched" class="alert alert-danger">
                You must add a domain.
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!addEmailForm.valid">Envoyer</button>
    </form>
</div>

<div *ngFor="let email of emails" class="container">
    <ul>
    	<li>{{email}}</li>
    </ul>
</div>